version: "3.9"

services:
  go-app:
    container_name: go-app
    build:
      context: .
      dockerfile: Dockerfile
    image: go-app:dev
    ports:
      - "8000:8000"
    volumes:
      - .:/app        
    environment:
      DATABASE_URL: "host=go_db user=postgres password=postgres dbname=postgres sslmode=disable"
    depends_on:
      - go_db

  go_db:
    container_name: go_db
    image: postgres:12
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  rag_service:
    build: ./rag_service
    ports:
      - "8000:8000"    

  migrate:
    image: migrate/migrate
    volumes:
    - ./migrations:/migrations
    command: >
      -path=/migrations
      -database postgres://postgres:postgres@go_db:5432/postgres?sslmode=disable
      up
    depends_on:
    - go_db
    
volumes:
  pgdata:
